@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Store App</h1>
</div>

<section style="width:50%;margin:auto;margin-top:50px;">
    <h2>Please Select Product Item To Get BARCODE</h2>
    <section>
        <label>Product ID</label>
        <input id="productId" disabled class="form-control" type="number" placeholder="Like...1" />
    </section>
    <section>
        <label>Volume</label>
        <input id="volumeId" class="form-control" type="number" value="1" placeholder="Like...2.55" />
    </section>
        <a onclick="GetBarcode()" class="btn btn-outline-primary">Get BarCode</a>
        <section>
            <span >Barcode For PRINT : </span>
            <span id="result" ></span>
        </section>
</section>

<section style="width:50%;margin:auto;margin-top:50px;">
  <h1>Find Product by BARCODE</h1>
    <input  
       id="searchInput" class="form-control" type="text" placeholder="Like...1234-AAHH-1122-33AA" />
        <a onclick="Search()" class="btn btn-outline-primary">Get</a>
</section>
<section id="p-info" ></section>

<section style="width:50%;margin:auto;margin-top:50px;">
    <a onclick="CallGetAll()" class="btn btn-outline-primary">Show All Products</a>
    <a class="btn btn-outline-primary" href="/home/add">Add Product</a>
    <a class="btn btn-outline-primary">Update Product</a>
</section>
<section style="width:60%;margin:auto;margin-top:50px;display:flex;flex-wrap:wrap;" id="products"></section>

